.carousel {
    padding: 81px 0;
    &__inner {
        position: relative;
        width: 750px;
        margin: 0 auto;
    }
    .slick-prev, .slick-next{
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        left: -66px;
        border: none;
        background-color: #fff;
        img {
            width: 31px;
            height: 50px;
        }
    }
    .slick-next {
        right: -66px;
        left: auto;
    }
    .slick-dots {
        padding-left: 0;
        margin-bottom: 0;
        display: flex;
        justify-content: center;
        list-style: none;
        // text-align: center;
        button {
            background-color: rgba(203, 172, 148, 0.393);
            border: none;
            border-radius: 50%;
            height: 12px;
            width: 12px;
            margin: 5px;
            outline: none;
            font-size: 0;
        } 
    }
    .slick-dots li[class="slick-active"] button {
        background: #d16338e0;
    }

}


